{% extends 'templates/app.twig' %}

{% block pageTitle %}Recover Account{% endblock %}


{% block content %}

    <div class="row">

        <div class="col-lg-8 mx-auto">

            <div class="card">
                <div class="card-header">
                    <h3>Recover Your Account</h3>
                </div>

                <form action="{{ path_for('auth.recover') }}" method="post" autocomplete="off" class="recover-form">
                    <div class="card-body">

                        <div class="form-group">
                            <input type="text" class="form-control{% if errors.username %} error{% endif %}" id="identifier" name="identifier" value="{{ old_input.identifier }}" placeholder="Email / Username">
                            {% if errors.identifier %} <div class="form_errors">{{ errors.identifier | first }}</div> {% endif %}
                        </div>

                        {{ csrf.field | raw }}

                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-success" data-submit-value="Sending...">Send Recovery</button>

                    </div>
                </form>

            </div>

        </div>

    </div>

    <script type="text/javascript">

        $('.recover-form').on('submit', function() {
            var self = $(this),
                button = self.find('button[type="submit"]'),
                submitValue = button.data('submit-value');

            button.attr('disabled', 'disabled').text((submitValue) ? submitValue : 'Please Wait...');
        });
    </script>
{% endblock %}