{% extends 'templates/app.twig' %}

{% block pageTitle %}Reset Password{% endblock %}


{% block content %}

    <div class="row">

        <div class="col-lg-8 mx-auto">

            <div class="card">
                <div class="card-header">
                    <h3>Reset Password</h3>
                </div>

                <form action="{{ path_for('auth.reset', {identifier : identifier}) }}" method="post" autocomplete="off" class="reset-form">
                    <div class="card-body">

                        <div class="form-group">
                            <input type="password" class="form-control{% if errors.password %} error{% endif %}" id="password" name="password" aria-describedby="passwordHelp"  placeholder="Enter a new password">
                            {% if errors.password %} <div class="form_errors">{{ errors.password | first }}</div> {% endif %}
                            <small id="passwordHelp" class="form-text text-muted">A strong password. 6 characters long minimum.</small>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control{% if errors.confirm_password %} error{% endif %}" id="confirm_password" name="confirm_password" placeholder="Confirm your new password">
                            {% if errors.confirm_password %} <div class="form_errors">{{ errors.confirm_password | first }}</div> {% endif %}
                        </div>

                        {{ csrf.field | raw }}

                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-success" data-submit-value="Resetting...">Reset Password</button>
                    </div>
                </form>

            </div>

        </div>

    </div>

    <script type="text/javascript">
        $('.reset-form').on('submit', function() {
            var self = $(this),
                button = self.find('button[type="submit"]'),
                submitValue = button.data('submit-value');

            button.attr('disabled', 'disabled').text((submitValue) ? submitValue : 'Please Wait...');
        });
    </script>
{% endblock %}