/* FONTS IMPORTS */
@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono/FantasqueSansMono-Italic.eot'); /* IE 9 Compatibility Mode */
    src: url('fonts/FantasqueSansMono/FantasqueSansMono-Italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('fonts/FantasqueSansMono/FantasqueSansMono-Italic.woff2') format('woff2'),
    url('fonts/FantasqueSansMono/FantasqueSansMono-Italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('fonts/FantasqueSansMono/FantasqueSansMono-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/FantasqueSansMono/FantasqueSansMono-Italic.svg#fonts/FantasqueSansMono/FantasqueSansMono-Italic') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono/FantasqueSansMono-Regular.eot'); /* IE 9 Compatibility Mode */
    src: url('fonts/FantasqueSansMono/FantasqueSansMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('fonts/FantasqueSansMono/FantasqueSansMono-Regular.woff2') format('woff2'),
    url('fonts/FantasqueSansMono/FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('fonts/FantasqueSansMono/FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/FantasqueSansMono/FantasqueSansMono-Regular.svg#fonts/FantasqueSansMono/FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono/FantasqueSansMono-BoldItalic.eot'); /* IE 9 Compatibility Mode */
    src: url('fonts/FantasqueSansMono/FantasqueSansMono-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('fonts/FantasqueSansMono/FantasqueSansMono-BoldItalic.woff2') format('woff2'),
    url('fonts/FantasqueSansMono/FantasqueSansMono-BoldItalic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('fonts/FantasqueSansMono/FantasqueSansMono-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/FantasqueSansMono/FantasqueSansMono-BoldItalic.svg#fonts/FantasqueSansMono/FantasqueSansMono-BoldItalic') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono/FantasqueSansMono-Bold.eot'); /* IE 9 Compatibility Mode */
    src: url('fonts/FantasqueSansMono/FantasqueSansMono-Bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('fonts/FantasqueSansMono/FantasqueSansMono-Bold.woff2') format('woff2'),
    url('fonts/FantasqueSansMono/FantasqueSansMono-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('fonts/FantasqueSansMono/FantasqueSansMono-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/FantasqueSansMono/FantasqueSansMono-Bold.svg#fonts/FantasqueSansMono/FantasqueSansMono-Bold') format('svg'); /* Chrome < 4, Legacy iOS */
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #e2e1e1; /* #2A363B */
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-weight: 400;
    color: #5a676d;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fantasque Sans Mono', monospace;
    font-weight: 500;
    color: inherit;
}
a {color: #ff6161;text-decoration:none !important;}
a:hover, a:active, a:focus {color: #ff424e;}
.text-muted {color: #9ea1a2 !important;}



input, textarea, select {
    padding: 12px 20px;
    margin: 12px 0px;
    display: inline-block;
    font-size: 1em;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #97aec2;
    border: 2px solid #d6e2ec;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    outline: 0;
    transition: background 0.2s ease, border 0.2s ease;-webkit-transition: background 0.2s ease, border 0.2s ease;-moz-transition: background 0.2s ease, border 0.2s ease;-o-transition: background 0.2s ease, border 0.2s ease;
}
input:hover, textarea:hover, select:hover {border-color:#c6d2db;}
input:focus, textarea:focus, select:focus{color:#98a8b5;border-color:#98a8b5;}
input:disabled, textarea:disabled, select:disabled{background-color:#D6E2EC;border-color:#c6d2db;}
input.error, textarea.error, select.error {margin-bottom: 0;border-color: #FF6161;}

::placeholder {color:#bec4ca;}

/* POST TEXTAREA */
textarea {resize: vertical;white-space: pre-wrap;transition: all 0.8s ease 0s;word-wrap: break-word;}
textarea.comment {height: 100px;}
.char-counter {display: inline-block;color: #1DCE79;}
.char-counter.char-counter_warning {color:#CC6439;}
.char-counter.char-counter_exceeded {color:#98A8B5;}


input[type="submit"] {
    background-color: #1dce79;
    color: #fff;
    font-family: 'Lato', 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {background-color: #22c577;}
input[type="submit"]:focus {background-color: #2ca66c;}
input[type="submit"]:disabled {background-color: #8696A4 !important;}

input[type="submit"].red {background-color: #e54040;}
input[type="submit"].red:hover {background-color: #d83c3c;}
input[type="submit"]:focus.red {background-color: #bf3535;}

.form-control {
    border: 2px solid #d6e2ec;
    border-radius: 5px;
    padding: 0.75em 0.75em;
    color: #97aec2
}
.form-control-file {overflow: hidden;}
textarea.no-resize {resize:none;}

/* Base for label styling */
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {position: absolute;left: -9999px;}
[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {position: relative;padding-left: 25px;margin-bottom: 0;cursor: pointer;}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {content: '';position: absolute;left:0; top: 0px;width: 20px; height: 20px;border: 1px solid #D6E2EC;background: #f8f8f8;border-radius: 3px;}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {content: '✔';position: absolute;top: 1px; left: 4px;font-size: 16px;color: #1DCE79;transition: all .2s;}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {opacity: 0;transform: scale(0);}
[type="checkbox"]:checked + label:after {opacity: 1;transform: scale(1);}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {box-shadow: none;border-color: #bbb;background-color: #ddd;}
[type="checkbox"]:disabled:checked + label:after {color: #999;}
[type="checkbox"]:disabled + label {color: #aaa;}

/* RADIO BUTTON STYLES */
.radio-buttons input { position: absolute; z-index: -1; opacity: 0; }
.radio-buttons label {transition: all 0.25s linear;-webkit-transition: all 0.1s linear;}
.radio-buttons label:hover {color: #777;}
.radio-buttons .control {position: relative;display: block;margin-bottom: 15px;padding-left: 30px;cursor: pointer;}
.radio-buttons .control input {position: absolute;z-index: -1;opacity: 0;}
.radio-buttons .control__indicator {position: absolute;top: 0;left: 0;width: 20px;height: 20px;background: #e6e6e6;transition: all 0.25s linear;-webkit-transition: all 0.1s linear;}
.radio-buttons .control--radio .control__indicator { border-radius: 50%; }
/* Hover and focus states */
.radio-buttons .control:hover input ~ .control__indicator,
.radio-buttons .control input:focus ~ .control__indicator { background: #ccc; }
/* Checked state */
.radio-buttons .control input:checked ~ .control__indicator {background: #FF6161;}
/* Hover state whilst checked */
.radio-buttons .control:hover input:not([disabled]):checked ~ .control__indicator { background: #DD5E5E; }
/* Disabled state */
.radio-buttons .control input:disabled ~ .control__indicator { pointer-events: none; opacity: .6; background: #e6e6e6; }
/* Check mark */
.control__indicator:after {position: absolute;display: none;content: '';}
/* Show check mark */
.control input:checked ~ .control__indicator:after {display: block;}
/* Radio button inner circle */
.control--radio .control__indicator:after {top: 7px;left: 7px;width: 6px;height: 6px;border-radius: 50%;background: #fff;}
/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after { background: #7b7b7b; }


.field {width:100%;padding:10px 0px;border-bottom: 1px solid #D6E2EC;}
.field label {font-size:1.2em;color:#FF6161;}
.field label span {font-size:0.8em;color:#98a8b5;}
.field .note {font-size:0.8em;color:#98a8b5;padding-bottom:10px;}

.custom_checkbox {display: inline-block;padding:10px 0px;color:#97AEC2;}
.custom_checkbox.form {display: block;}

.form_errors {
    display: block;
    margin-bottom: 15px;
    background-color: #FF6161;
    color: #fff;
    padding: 0.8rem;
    margin-top: -3px;
    border-radius: 0px 0px 5px 5px;
}
#field_check_username, #field_check_email {display:none;}

.btn {font-weight: bold;border: 2px solid;}

.btn-primary {color: #fff;background-color: #5CB3FD;border-color: #5CB3FD;}
.btn-primary:hover {color: #fff;background-color: #4C9EE4;border-color: #4C9EE4;}
.btn-primary:active {color: #fff;background-color: #4C9EE4;border-color: #4C9EE4;}
.btn-success {color: #fff;background-color: #1DCE79;border-color: #1DCE79;}
.btn-success:hover {color: #fff;background-color: #2ca66c;border-color: #2ca66c;}
.btn-success:active {color: #fff;background-color: #2ca66c;border-color: #2ca66c;}
.btn-danger {color: #fff;background-color: #fd5c5c;border-color: #fd5c5c;}
.btn-danger:hover {color: #fff;background-color: #ec4d4d;border-color: #ec4d4d;}
.btn-danger:active {color: #fff;background-color: #ec4d4d;border-color: #ec4d4d;}

.btn-outline-primary {color: #5CB3FD;background-color: transparent;border-color: #5CB3FD;}
.btn-outline-primary:hover {color: #fff;background-color: #5CB3FD;border-color: #5CB3FD;}
.btn-outline-primary:active {color: #fff;background-color: #4C9EE4;border-color: #4C9EE4;}
.btn-outline-success {color: #1DCE79;background-color: transparent;border-color: #1DCE79;}
.btn-outline-success:hover {color: #fff;background-color: #1DCE79;border-color: #22c577;}
.btn-outline-success:active {color: #fff;background-color: #2ca66c;border-color: #2ca66c;}
.btn-outline-danger {color: #fd5c5c;background-color: transparent;border-color: #fd5c5c;}
.btn-outline-danger:hover {color: #fff;background-color: #fd5c5c;border-color: #fd5c5c;}
.btn-outline-danger:active {color: #fff;background-color: #ec4d4d;border-color: #ec4d4d;}
.btn-secondary {color: #646464;background-color: #fff;}
.btn-secondary:hover {color: #a6a6a6;border-color: #a6a6a6;}
.btn-secondary:hover {color: #646464;border-color: #a6a6a6;}

button:disabled {background-color: #8696A4 !important;border-color: #8696A4 !important;color: #fff !important;}


@media (min-width: 1200px) {
    .container {
        width: 70em;
        max-width: 100%;
    }
}

.navbar {margin: 0 0 1rem;}
.navbar-brand {font-family: 'Fantasque Sans Mono', monospace;}
.navbar-main.navbar-light .navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
    color: #ff8989;
}
.navbar-main.navbar-light .navbar-brand:hover {color: #ff6161;}
.navbar-nav.main-links {margin-top: 0.4rem;}
.navbar .nav-item a {font-family: 'Fantasque Sans Mono', monospace;font-weight: bold;font-size: 1.05em;}
.dropdown-menu .dropdown-item {color: rgba(0,0,0,.5) !important;}
.dropdown-menu .dropdown-item:active {color: #fff !important;background-color: #ff8989 !important;}

.navbar.navbar-main {background-color: #292b2c;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);}

/* NAV STYLES */
.nav-pills .nav-link.active, .nav-pills .nav-item .nav-link:hover {background-color: #f7f7f9;}
.nav-pills .nav-link.active, .nav-pills .nav-item.show .nav-link {background-color: #ff8989 !important;}
.page-nav.nav-pills .nav-link {border-radius: .25rem .25rem 0 0;}

.nav.page-nav .dropdown-item.active {background-color: #ff8989;color: #fff;}


.footer {
    margin: 2rem 0;
}

/* JUMBOTRON STYLES */
.jumbotron.jumbotron-fullscreen {
    height: 100vh;
    margin-top: -1rem;
}
.jumbotron.jumbotron-fullscreen .container {
    position: relative;
    top: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 30px;
    padding-right: 30px;
}


.card {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

/* USER STYLES */
#user-avatar {border-radius:100%;border:3px solid #999;}
.admin_avatar {border-color: #CC6439 !important;}

.avatar-container {
    position: relative;
    width: 100%;
    height: auto;
}
.avatar-container #user-avatar {
    width: 100%;
    height: auto;
    vertical-align:top;
}
.avatar-container:after, .avatar-container:before {
    position:absolute;
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.avatar-container:after {
    content: '\A';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
}
.avatar-container:before {
    content: attr(data-content);
    width:100%;
    z-index:1;
    color:#fff;
    font-weight: bold;
    font-size: 1.5em;
    top: 45%;
    text-align:center;
}
.avatar-container:hover:after, .avatar-container:hover:before {
    opacity:1;
}

.badge.badge-primary {background-color: #5CB3FD;}

/* QUESTION STYLES */
.card.question .card-body {
    padding-bottom: 0.5rem;
}
.card.question .card-body hr {margin: 0.3rem}
.card.question .card-body .answer-image {display: block;max-width: 100%;}

.card.question .button {color:#9ea1a2;font-size: 1.2em;cursor:pointer;transition: all 0.5s ease;-webkit-transition: all 0.5s ease;}
.card.question .button.reply-button:hover {color: #1DCE79;}
.card.question .button.delete-button:hover {color: #bf3535;}
.card.question .button.block-button:hover {color: #CC6439;}
.card.question .button.fav-button:hover {color: #ff6161;}
.card.question .button.misc-button:hover {color: #5a676d;}
.card.question .button.fav-button.active {color: #ff6161;}




/* CUSTOM PAGINATOR STYLES */
ul.pagination .page-item .page-link {color: #5CB3FD;}
ul.pagination .page-item.active .page-link {color: #fff;background-color: #5CB3FD;border-color: #5CB3FD;}


/* CUSTOM TABLE STYLES */
.table.markdownHelp-Table td {white-space: pre-line;}


/* CUSTOM NOTY STYLES */
ul#noty_topCenter_layout_container {}
ul#noty_topCenter_layout_container li {
    border: none !important;
}
.noty_bar .noty_message {
    font-size: 0.85em !important;
    line-height: 20px !important;
    padding: 12px !important;
}
.noty_bar .noty_message .noty_text {
    font-weight: bold;
    font-family: 'Fantasque Sans Mono', monospace;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
}



/* COMFIRM BOX */
.cd-popup {position: fixed;left: 0;top: 0;height: 100%;width: 100%;background: rgba(52, 54, 66, 0.9);opacity: 0;visibility: hidden;-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;transition: opacity 0.3s 0s, visibility 0s 0.3s;}
.cd-popup.is-visible {opacity: 1;visibility: visible;z-index: 1200;-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;-moz-transition: opacity 0.3s 0s, visibility 0s 0s;transition: opacity 0.3s 0s, visibility 0s 0s;}

.cd-popup-container {position: relative;width: 90%;max-width: 400px;margin: 4em auto;background: #FFF;border-radius: .25em .25em .4em .4em;text-align: center;box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);-webkit-transform: translateY(-40px);-moz-transform: translateY(-40px);-ms-transform: translateY(-40px);-o-transform: translateY(-40px);transform: translateY(-40px);/* Force Hardware Acceleration in WebKit */-webkit-backface-visibility: hidden;-webkit-transition-property: -webkit-transform;-moz-transition-property: -moz-transform;transition-property: transform;-webkit-transition-duration: 0.3s;-moz-transition-duration: 0.3s;transition-duration: 0.3s;}
.cd-popup-container p {padding: 3em 1em;color:#404A53;}
.cd-popup-container .cd-buttons:after {content: "";display: table;clear: both;}
.cd-popup-container .cd-buttons {padding: 0;}
.cd-popup-container .cd-buttons li {list-style: none;float: left;width: 50%;}
.cd-popup-container .cd-buttons a {display: block;height: 60px;cursor: pointer;line-height: 60px;text-transform: uppercase;color: #FFF;-webkit-transition: background-color 0.2s;-moz-transition: background-color 0.2s;transition: background-color 0.2s;}
.cd-popup-container .cd-buttons li:first-child a {background: #fc7169;border-radius: 0 0 0 .25em;}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {background-color: #fc8982;}
.cd-popup-container .cd-buttons li:last-child a {background: #b6bece;border-radius: 0 0 .25em 0;}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {background-color: #c5ccd8;}
.cd-popup-container .cd-popup-close {position: absolute;top: 8px;right: 8px;width: 30px;height: 30px;cursor: pointer;}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {content: '';position: absolute;top: 12px;width: 14px;height: 3px;background-color: #8f9cb5;}
.cd-popup-container .cd-popup-close::before {-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);left: 8px;}
.cd-popup-container .cd-popup-close::after {-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);right: 8px;}
.is-visible .cd-popup-container {-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
@media only screen and (min-width: 1170px) {.cd-popup-container {margin: 8em auto;}}