{% extends 'templates/user/profile_template.twig' %}

{% block pageTitle %}
    {% if user.username ends with 's' %}
        {{ user.username }}' Favorites
    {% else %}
        {{ user.username }}'s Favorites
    {% endif %}
{% endblock %}


{% block profile_content %}

    <div class="col-lg-9">

        {% include 'user/partials/profile_nav.twig' %}

        {% if not questions.isEmpty() %}
            {% for question in questions %}
                {% include 'templates/question/question_global.twig' %}
            {% endfor %}
            {{ questions.links | raw }}
        {% else %}
            <h2>:( This user has no favorites yet.</h2>
        {% endif %}

    </div>

{% endblock %}